*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
key.properties
invoicesaver-release.jks
*.jks
*.keystore

KEYSTORE_INFO.txt
google-services.json
*.log
